<%- include('par/header'); -%>

<h1>Compose</h1>
<form  action="/compose" method="post">
    <h4>Title</h4>
  <input class="publisht" type="text" name="publishtitle" value="">
  <h4>Post</h4>

  <textarea class="publisht" name="publishpost" rows="8" cols="80"></textarea> <br>
  <button class="btn btn-primary buttont" type="submit" name="button">publish</button>


</form>




<%- include('par/footer'); -%>
